* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --calculator-color: 230, 230, 230;
    --normal-key: 245, 245, 245;
    --special-key: 251, 157, 69;
    --calculator-background: 90, 90, 111;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.case {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    /* border: 1px solid  blue; */
    background-color: rgb(var(--calculator-background));
}
.calculator {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    margin: 0.5rem 0.7rem 0 0.7rem;
    padding: 0.7rem 0.7rem 4rem 0.7rem;
    /* border: 1px solid black; */
    /* font-size: 24px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    /* min-height: 30rem; */
    background: rgb(var(--calculator-color));
    background: linear-gradient(180deg, rgba(var(--calculator-color),1) 0%, rgba(215,215,215,0.9) 50%, rgba(var(--calculator-color),1) 100%);
}
.calculator::after {
    content: '';
    position: absolute;
    bottom: 1.2rem;
    width: 94%;
    margin: auto;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}
.calculator-lower {
    position: relative;
    margin: -2rem 1.5rem 0.5rem 1.5rem;
    padding: 2rem 1rem 0.7rem 1rem;
    border-bottom-left-radius: 13%;
    border-bottom-right-radius: 13%;
    background: rgb(var(--calculator-color));
background: linear-gradient(180deg, rgba(var(--calculator-color),1) 0%, rgba(215,215,215,0.9) 50%, rgba(var(--calculator-color),1) 100%);
    flex: 1;
    font-family: 'Martian Mono', monospace;
    font-size: 24px;
}
.info {
    display: flex;
    justify-content: space-around;
    height: 4rem;
    max-height: 4rem;
    font-size: 1rem;
    font-family: 'Noto Sundanese', sans-serif;

}
.info h3 {
    font-weight: 900;
}
.info span {
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
}
.info > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    flex: 1.5;
    border: 2px solid rgba(var(--calculator-color),0.7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 2px 20px rgb(var(--calculator-color));
}
.panel div {
    display: grid;
    background-color: rgb(82, 47, 41);
    border: 1px solid rgb(53, 32, 32);
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}
.screen {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    height: 6rem;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid rgba(var(--calculator-color),0.7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 10px 20px rgb(var(--calculator-color));
    color: rgb(var(--calculator-background));

}
.screen input, .screen textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    flex: 1;
    border: none;
    pointer-events: none;
    padding: 0.5rem;
    resize: none;
}
.screen .result {
    text-align: end;
}

.body {
    position: relative;
    z-index: 20;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, minmax(0px, 1fr));
    grid-auto-rows: minmax(2rem, 3rem);
    justify-content: space-around;
    align-content: space-around;
    gap: 0.5rem;
}
.key {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border: 2px solid rgba(0, 0, 0, 0.7);
    background-color: rgb(var(--normal-key));
    transition: all 0.3s;
}
.key.special {
    font-size: 20px;
    background-color: rgba(var(--special-key),0.7);
}
.key:hover {
    background-color: rgba(var(--normal-key),0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.key.special:hover {
    background-color: rgba(var(--special-key),1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.key.pressed {
    transition-duration: 0.07s;
    background-color: rgba(var(--calculator-background), 0.3);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}
/* .key:active {
    background-color: yellow;
} */
.key.ans {
    grid-column: span 2;
}
.pow {
    position: relative;
}
.pow > span {
    font-size: 16px;
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
    pointer-events: none;
}

@media (min-width: 400px) {
    .case {
        width: auto;
    }
  }

.my-github {
    font-family: 'Martian Mono', monospace;
    font-size: 13px;
    position: absolute;
    top: 102%;
    left: 0;
    right: 0;
    text-align: center;
}
.my-github a {
    text-decoration: none;
    color: black;
    transition: all 0.4s;
}
.my-github a:hover {
    color: var(--main-color);
    text-shadow: 0 0 5px rgb(var(--calculator-background));
}
/* .
.my-github > span a {
    text-decoration: none;
    color: black;
    transition: all 0.4s;
}

.my-github > span a:hover {
    color: var(--main-color);
    text-shadow: 0 0 3px black;
} */